body {

background: rgb(245, 248, 247);
display: flex;
justify-content: center;
align-items: center;
height: 95vh;

}
*{
    font-family: sans-serif;
    box-sizing: border-box;
}

form {
    
    width: 450px;
    background: rgb(14, 170, 170);
    justify-content: center;
}
.login{
        
        border-radius: 4px;
        padding: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    @media (max-width: 400px){
        .login{
            width: 90%;
        }
    }


.h2D {
    color: #ffffff;
    padding: 0px 0px 5px 88px;
    font-size: 35px;
}
.h2DR {
    color: #ffffff;
    padding: 0px 0px 5px 88px;
    font-size: 35px;
}
.h2C {
    color: #ffffff;
    
    font-size: 20px;
}
.pRegistro {
    color: #000000;
    
    font-size: 15.5px;
}
.inText{
    width: 182px;
    margin-left: 27px;
}
.inText2{
    width: 182px;
    margin-left: 110px;
}
.inText3{
    width: 182px;
    margin-left: 69px;
}
.inText4{
    width: 182px;

}
.textRe{
    font-size: 15.5px;
}

.fas {
    color: white;
    margin-right: 10px;
    margin-left: 35px;
    
}
input {
    
    width: 250px;
    color:rgb(255, 255, 255);
    background: teal;
    height: 40px;
    padding: 5px;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    
}
label {
    color: #ffffff;
    font-size: 20px;
    

}
button {
    margin-left: 117px;
    background: rgb(12, 111, 114);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    width: 40%;
    
    
    border: none;
}
.btn {
    margin-left: 117px;
    background: rgb(12, 111, 114);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    width: 40%;
    
    
    border: none;
}

button:hover{
    opacity: .5;
}
.error {
   
    color: #ffffff;
    padding: 8px;
    width: 260px;
    border-radius: 5px;
    margin: 18px auto;
    margin-left: 62px;
    font-size: 15px;
}

.textN{
    color: rgba(255, 255, 255, 0.815);
    margin-left: 83px;
    font-size: 15px;
}
